* Import Libraries

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,root_mean_squared_error,accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [2]:
df= pd.read_csv('employee.csv')
df.head(5)

,Name,Emp ID,Gender,Education Qualification,Hired date,Job Title,Salary,Age,Leave Balance,Staff Level,Salary Range,Age Range,Leave Balance Range
0,Barr Faughny,AC0001,Male,Bachelor's Degree,06/12/20,Chocolatier,51300.0,26,13,Low Level,Low,Early Carrer,Low
1,Dennison Crosswaite,AC0002,Female,Diploma,02/18/21,Production Operator,38300.0,33,12,Low Level,Very Low,Early Carrer,Low
2,Gunar Cockshoot,AC0003,Male,High School Diploma,09/05/22,Packaging Associate,31400.0,34,16,Low Level,Very Low,Early Carrer,Low
3,Wilone O'Kielt,AC0004,Female,Bachelor's Degree,11/20/19,Marketing Specialist,60700.0,30,21,Low Level,High,Early Carrer,High
4,Gigi Bohling,AC0005,Male,Master's Degree,04/08/18,Research Scientist,77300.0,30,23,Mid Level,Very High,Early Carrer,High

In [4]:
df.shape

(162, 13)

In [5]:
df.isna().sum()

Name                       0
Emp ID                     0
Gender                     0
Education Qualification    0
Hired date                 0
Job Title                  0
Salary                     0
Age                        0
Leave Balance              0
Staff Level                0
Salary Range               0
Age Range                  0
Leave Balance Range        0
dtype: int64

In [6]:
df.columns

Index(['Name', 'Emp ID', 'Gender', 'Education Qualification', 'Hired date',
       'Job Title', 'Salary', 'Age', 'Leave Balance', 'Staff Level',
       'Salary Range', 'Age Range', 'Leave Balance Range'],
      dtype='object')